<footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
   
    <h6 class="display-6 navbar-text">&copy;Page Create By Hyeontak Ko - 301280567 - 2023 10 04 - Assignment1</h6>
    </div>
    </nav>
  </footer>
