<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1>Welcome to projects Page</h1>
  </div>

  <!-- Project 1 -->
  <div class="project">
    
    <h2>Inventory Management System</h2>
    <img src="img/Inventory Management System.png" alt="Project 1" style: width="200px"; height="200px">
    <p>Description: This project involves creating an application that allows businesses to manage their inventory effectively. The system could track inventory levels, sales, orders, and deliveries.</p>
    <p>Role: As the main developer, you could design and implement the database using SQL, create the backend logic using Java (or another language), and build a user-friendly interface with HTML/CSS/JavaScript.</p>
    <p>Outcome: The completed system would help businesses streamline their inventory management process, reduce manual errors, and make informed decisions based on real-time data.</p>
  </div>

  <!-- Project 2 -->
  <div class="project">
    
    <h2>Task Management Application</h2>
    <img src="img/Task Management Application.jpg" alt="Project 2" style: width="200px"; height="200px">
    <p>Description: This project is about developing a web-based task management application that allows users to create tasks, set priorities/deadlines, assign tasks to team members, and track progress.</p>
    <p>Role: You might be responsible for designing the application architecture using Java (perhaps with a framework like Spring Boot), setting up the database with SQL for storing user data and tasks information. The frontend could be built using HTML/CSS/JavaScript (or a framework like React.js).</p>
    <p>Outcome: The finished application would provide users with an efficient way of managing their tasks and collaborating with team members.</p>
   </div>

   <!-- Project3 -->
   <div class="project">
    
    <h2>E-commerce Website</h2>
    <img src="img/E-commerce Website.jpg" alt="Project 3" style: width="200px"; height="200px">
    <p>An e-commerce website where customers can browse products by category or search for specific items. They should be able to add items to a shopping cart and checkout securely.</p>
    <p>Your role might involve setting up product databases in SQL; implementing server-side logic in Java; building front-end pages in HTML/CSS/JavaScript; integrating secure payment systems; implementing user authentication etc.</p>
    <p>A fully functional online store that provides customers with an intuitive shopping experience while providing robust security features.</p>
   </div>


</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>





   