<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1>Welcome to Service Page</h1>
  </div>

  <!-- Services -->
  <div class="services">
    <!-- Service 1 -->
    <div class="service">

      <h2>JAVA</h2>
      <p>Utilize your knowledge of Java and HTML to develop robust and interactive web applications. You can create dynamic web pages, handle user input through forms, implement server-side logic using Java frameworks like Spring or JavaServer Faces (JSF)</p>
    </div>

    <!-- Service 2 -->
    <div class="service">

      <h2>SQL</h2>
      <p>Utilize SQL queries to extract valuable insights from clients' databases. You can write complex queries to analyze data patterns, generate reports based on specific criteria, perform aggregations or calculations on large datasets, and present the results in a meaningful way.</p>
    </div>

    <div class="service">

        <h2>HTML</h2>
        <p>Utilize your knowledge of Java and HTML to develop robust and interactive web applications. You can create dynamic web pages, handle user input through forms, implement server-side logic using Java frameworks like Spring or JavaServer Faces (JSF)</p>
      </div>

 </div>

</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>


